body{
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.color-picker{
    height: 4vh;
    border-radius: 0px;
    border: none;
}

.select-menu{
    background-color: #1F293A;
    color: #D5D4D8;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    font-size: 1.25rem;
    padding: 10px 15px;
    height: 4vh;
    width: 40vw;
}

.btn{
    border: none;
    color: white;
    background-color: #3D4B60;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 15px;
    height: 4vh;
}

.color-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.color-box{
    height: 80vh;
}

.hex-color{
    text-align: center;
    color: white;
}

button{
    cursor: pointer;
}


/* Different box colors */
